<div class="avantages">
    <h1 class="title">Avantages</h1>
    <div class="avantages-body">
        <div class="description">
            <p><span class="keys">Transparent</span>, <span class="keys">confortable</span> et <span class="keys">amovible</span>, <span class="access-word">Access Aligner</span> est l'appareil orthodontique personnalisé, qui
                permet de
                déplacer les dents progressivement et en douceur.</p>
            <p>Chaque gouttière portée correspond à une étape de correction progressive jusqu'à la position dentaire
                finale.
            </p>
        </div>
        <div class="image">
            <img src="assets/img/avantages.png" alt="">
        </div>
    </div>
</div>