<div class="popup">
    <mat-toolbar class="toolbar">
        <div class="modal_button-left">
            <button mat-icon-button mat-dialog-close>
                <mat-icon style="color:#2c2c2c; font-size: 1.4em;" aria-label="Menu">close</mat-icon>
            </button>
        </div>
        <div class="modal-header-title">Mot de passe oublié</div>
        <div class="modal_button-right">
            <button mat-button color="primary" mat-dialog-close class="send-button" (click)="onSubmit()">
                Envoyer
            </button>
        </div>
    </mat-toolbar>
    <div id="content-popup">
        <form [formGroup]="emailForm">
            <mat-form-field class="popup-input">
                <mat-label>Nom d'utilisateur</mat-label>
                <input matInput placeholder="Nom d'utilisateur" formControlName="username" name="username">
                <mat-error *ngIf="f.username.errors">
                    <span *ngIf="f.username.errors.required">Champ est requis!</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="popup-input">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" name="email">
                <mat-error *ngIf="f.email.errors">
                    <span *ngIf="f.email.errors.required">Email est requis!</span>
                    <span *ngIf="f.email.errors.email">Format invalid!</span>
                </mat-error>
            </mat-form-field>
        </form>
    </div>
</div>