.popup {
  width: 450px;
}

.toolbar {
  position: top;
  top: 0;
  overflow: auto;
  left: 0;
  z-index: 2;
  width: 100% !important;
  background-color: transparent;
  color: #2c2c2c;
}

.modal-header-title {
  overflow: hidden;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  line-height: 58px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 180px);
}

.modal_button-left {
  width: 90px;
}

.modal_button-right {
  width: 90px;
  display: flex;
  flex-direction: row-reverse;
}

.popup-input {
  width: 100%;
  font-size: .8em;
}

.actions {
  justify-content: flex-end;
  display: flex;
  margin-top: 20px;
}

.actions button {
  background-color: var(--primary-color);
  color: white;
  border-radius: 20px;
  min-width: 150px;
}

#content-popup {
  min-height: 110px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
}

.send-button {
  color: var(--primary-color);
  border-radius: 20px;
}

@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 700px) {
  .popup {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .popup {
    width: 280px;
  }
}
