<div class="composition">
    <h1 class="title">Composition</h1>
    <div class="composition-body">
        <div class="image">
            <img src="assets/img/composition.png">
        </div>
        <div class="description">
            <p>Pour votre confort, nous utilisons des matériaux aux normes reconnues biocompatibles et très
                résistants.
            </p>
            <p>Les appareils <span class="access-word">Access Aligner</span> sont produits à partir d'un matériel thermoplastique de qualité médicale
                qui
                s'ajuste parfaitement à l'anatomie dentaire de chaque patient.</p>
        </div>
    </div>
</div>