<div class="mode-utilisation">
    <h1 class="title">Mode d'utilisation</h1>
    <div class="mode-utilisation-body">
        <div class="description">
            <p>Chaque gouttière <span class="access-word">Access Aligner</span> doit être portée au quotidien 22h/24 minimum sur une période de 2 à 3
                semaines.
            </p>
            <p>À la fin de chaque période, l'<span class="access-word">Access Aligner</span> porté est remplacé par une nouvelle gouttière. La durée du
                traitement, varie d'un patient à un autre et dépend également de la complexité du cas clinique.</p>
            <p>Au cours du traitement par <span class="access-word">Access Aligner</span> un contrôle régulier est essentiel afin de vérifier la bonne
                progression des mouvements dentaires et surveiller le résultat.</p>
        </div>
        <div class="image">
            <img src="assets/img/aligners.png" alt="">
        </div>
    </div>
</div>