.edit-pwd-container {
  padding: 24px;
}

.title {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: underline;
  color: var(--primary-color);
}

.edit-pwd-card{
  width: 50%;
}

.edit-pwd-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.register-row {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
}

.register-row div {
  padding: 10px;
}

mat-form-field {
  width: 100%;
}

.btn-section {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn-section button {
  border-radius: 20px;
  min-width: 150px;
}

.mat-card-title {
  color: #495057;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 10px !important;
}

@media screen and (max-width: 1300px) {
  .register-row {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
  }

  .mat-card-title {
      margin-bottom: 80px;
  }

  .edit-pwd-card{
    width: 50%;
  }
}

@media screen and (max-width: 1100px) {
  .register-row {
      grid-template-columns: auto;
  }
  .mat-card-title {
      margin-bottom: 50px;
  }

  .edit-pwd-card{
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .register-row {
      grid-template-columns: auto;
  }

  .mat-card-title {
      margin-bottom: 50px;
  }

  .edit-pwd-card{
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .register-row {
      grid-template-columns: auto;
  }

  .mat-card-title {
      margin-bottom: 40px;
  }

  .edit-pwd-card{
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .register-row {
      grid-template-columns: auto;
  }

  .mat-card-title {
      margin-bottom: 40px;
  }

  .edit-pwd-card{
    width: 100%;
  }
}
