<div class="login-container">
    <p class="page-title">Réinitialiser votre mot de passe!</p>
    <form [formGroup]="resetForm">
        <div>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Nouveau mot de passe</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Mot de passe"
                        formControlName="password" name="password">
                    <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">
                        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="f.password.errors">
                        <span *ngIf="f.password.errors.required">Mot de passe est requis!</span>
                        <span *ngIf="f.password.errors.minlength">Mot de passe doit contenir au minimum 6
                            caractères</span>

                    </mat-error>
                </mat-form-field>
            </p>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Confirmer le mot de passe</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Mot de passe"
                        formControlName="confPassword" name="confPassword">
                    <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">
                        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="f.confPassword.errors">
                        <span *ngIf="f.confPassword.errors.required">Mot de passe est requis!</span>
                        <span *ngIf="f.confPassword.errors.mustMatch">Passwords must match</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="btn-section">
            <button mat-raised-button type="submit" color="primary" style="background-color: var(--primary-color);" (click)="onSubmit()">Valider</button>
        </div>
    </form>
</div>