<div class="presentation">
    <h1 class="title">Présentation</h1>
    <div class="presentation-body">
        <div class="image">
            <img src="assets/img/gouttiere.png">
        </div>
        <div class="description">
            <p><span class="access-word">Access Aligner</span> est une solution d'alignement dentaire <span class="invisible">invisible</span>, elle offre une alternative
                transparente
                aux
                appareils orthodontiques classiques.</p>
            <p>Développée par une équipe de professionnels qualifiés et expérimentés, <span class="access-word">Access Aligner</span> est toujours à
                la
                recherche
                de la performance et de l'innovation dans la réalisation de ses gouttières orthodontiques,
                <span class="invisible">invisibles</span>.
            </p>
            <p>Afin de mieux répondre à vos besoins et à vos attentes, <span class="access-word">Access Aligner</span> est équipée des dernières
                générations
                de
                logiciels et d'une technologie 3D de pointe.</p>
            <p><span class="access-word">Access Aligner</span> s'engage également dans une démarche de soutien et d'accompagnement tout au long de
                vos
                traitements.</p>
        </div>
    </div>
</div>