<div class="entretien">
    <h1 class="title">Entretien</h1>
    <div class="entretien-body">
        <p>Les gouttières <span class="access-word">Access Aligner</span> se nettoient à l'eau froide afin d'éviter toute déformation due à la
            chaleur,
            nous
            recommandons aussi l'utilisation de dentifrice blanc déprouvus de colorants pouvant créer des taches sur
            l'appareil.</p>
        <div class="section-cleaning">
            <div class="circle">
                <span>Entretien facile basé sur l'hygiène.</span>
            </div>
            <img src="assets/img/nettoyage1.png" style="z-index: -1;" alt="Nettoyage etape 1">
            <img src="assets/img/nettoyage2.png" style="z-index: -2;" alt="Nettoyage etape 2">
        </div>
        <p>Ce nettoyage doit se faire avant et après chaque utilisation.</p>
        <p>Nous conseillons de placer la gouttière 10 minutes dans un demi verre d'eau avec un produit de soins
            bucco-dentaires 2 à 3 fois par semaine.</p>
    </div>
</div>